<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel="stylesheet" href="../css/main.css">
	<title>LYFT</title>
</head>
<body class="grad80">
  <main class="container-flex-column">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <a href="login.html" class="btn btn-success" id="login" type="button">LOG IN</a>
          <a href="signup.html" class="btn btn-success" id="singup" type="button">SING IN</a>
        </div>
      </div>
    </div>
  </main>
  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script> <!-- minificado -->
  <script src="../js/register.js"></script>
</body>
</html>