<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel="stylesheet" href="../css/main.css">
	<title>LYFT</title>
</head>
<body class="grad70">
  <a href="signup.html" type="button" class="btn btn-success">
    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
  </a>
  <main class="container-flex-column">
    <div class="container center">
      <div class="row ">
        <div class="col-xs-12">
          <img class="img-responsive center-block logo" src="../assets/img/logo-white.png" alt="">   
          <img class="img-responsive center-block logo" src="../assets/img/check2.jpg" alt="">    
          <a href="#" class="btn btn-success" id="login" type="button">CONTINUE...</a>      
        </div>
      </div>
    </div>
  </main>
  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script> 
  <script src="../js/signup-succesful.js"></script>
</body>
</html>