<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel="stylesheet" href="../css/main.css">
	<title>LYFT</title>
</head>
<body class="">
	<main class="container-flex-column">
		<div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h5>código correcto 127</h5>
          <div class="form-group">
            <div class="input-group">
              <img class="img-responsive logo" src="../assets/img/verificacion-numero.png" alt="">
              <label class="input-group-addon" for="me">Lab</label>
              <label for="user" class="input-group-addon" rel="tooltip" title="email">
              <input id = "input-cod" type="text" class="form-control" autocomplete="on"/>  </label>
              <img class="img-responsive logo" src="../assets/img/verificacion-numero-2.png" alt="">
              <button type="submit"  id="buttonResend" class=" center btn btn-default btn-success">Resend cod</button>
            </div>
          </div>
        </div>
      <button type="submit"  id="buttonNext" class="center btn btn-default btn-success">NEXT</button>
    </div>
  </main>
  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="../js/data.js"></script>
	<script src="../js/signup-verify-phone.js"></script>
</body>
</html>